@import url("https://fonts.googleapis.com/css?family=Abril+Fatface:300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,800,900");
@import url("//fonts.googleapis.com/css?family=Poppins:400,300,400,400i,500,600,600i,700,800,900");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	/* 1rem = 10px */
}
body {
	font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", sans-serif;
	line-height: 1;
	font-weight: 400;
	font-size: 1.4rem;
	overflow-x: hidden;
}
img {
	display: block;
	/* width: 100%; */
}
a {
	text-decoration: none;
	color: #000;
}
ul {
	list-style-type: none;
}
button {
	cursor: pointer;
}
input,
textarea,
button {
	box-shadow: none;
	outline: none;
	font-family: "Lato", sans-serif;
}

.slick-dots {
	bottom: 0 !important;
}
