.block {
	display: relative;
	background-color: #fdc826;
}
.distance {
	padding: 12.3rem 0;
}
.distance__top {
	text-align: center;
}
.distance__top .distance__top-title {
	font-size: 1.8rem;
	color: #505050;
}
.distance__top .distance__top-title--main {
	font-size: 3.2rem;
	font-weight: 600;
}
.distance__bottom {
	margin-top: 8rem;
}
