/* Testimonial */
.testimonial__block {
	position: relative;
	padding: 17rem 0 27.2rem 0;
	margin-top: 7.3rem;
}
.testimonial__block:before {
	content: "";
	background: url(../../../images/top-testimonial.png) no-repeat;
	min-width: 265px;
	min-height: 266px;
	position: absolute;
	top: -40px;
	right: 0;
}
.testimonial__block:after {
	content: "";
	background: url(../../../images/bottom-testimonial.webp) no-repeat;
	min-width: 253px;
	min-height: 236px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 9;
}
.testimonial__img {
	display: flex;
	justify-content: center;
}
.testimonial__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.testimonial__content--name {
	margin: 4rem 0 3rem 0;
	font-size: 1.6rem;
}
.testimonial__content--decs {
	font-size: 1.5rem;
	line-height: 2.25rem;
	margin: 0.8rem 18.5rem 0 18.5rem;
}
.testimonial__content--decs::before {
	content: "";
	display: block;
	width: 1rem;
	height: 0.9rem;
	background: url(../../../images/icon-blebee.png) no-repeat;
	background-position: -46px -43px;
}
/* ./Testimonial */