.contact {
	margin-bottom: 13rem;
	.address__box {
		text-align: center;
		&-title {
			@include fontFamily(18px, 700);
			text-transform: uppercase;
		}
	}
}

.contact__info {
	margin-top: 8rem;
	.contact__info-methods {
		@include fontFamily(14px, 700);
	}
}

.contact-main {
	margin: 8rem 0;
	max-width: 45rem;
	@include fontFamily(14px);
	.contact-icon {
		text-align: center;
	}
  .contact-form {
    margin-top: 3rem;
  }
}
.contact-heading {
	color: black;
	font-weight: bold;
	font-size: 3rem;
	margin-bottom: 2rem;
}
.contact-notice {
	font-weight: 300;
	line-height: 1.6;
	color: black;
	margin-bottom: 3rem;
}
.contact-form-group {
	margin-bottom: 2rem;
}
.contact-form-label {
	color: black;
	display: inline-block;
	margin-bottom: 1rem;
	font-weight: 500;
}
.contact-form-input,
.contact-form-area {
	color: black;
	display: block;
	width: 100%;
	padding: 1.5rem;
	background-color: #f5f6fd;
	border: 0;
	outline: none;
	resize: none;
}
.contact-form-input::-webkit-input-placeholder,
.contact-form-area::-webkit-input-placeholder {
	color: #b2bada;
}
.contact-form-input {
	border-radius: 5rem;
}
.contact-form-area {
	min-height: 16rem;
	border-radius: 2rem;
	line-height: 1.6;
}
.contact-form-submit {
	color: black;
	padding: 1.5rem;
	width: 100%;
	border-radius: 5rem;
	border: 0;
	outline: none;
	cursor: pointer;
	text-align: center;
	@include fontFamily(14px, 500);
	white-space: nowrap;
	letter-spacing: 1px;
	background-color: $main;
	box-shadow: 0 10px 20px 0 rgba(123, 120, 248, 0.5);
}
.contact-form-area::-webkit-scrollbar {
	width: 5px;
}

.contact-form-area::-webkit-scrollbar-track {
	border-radius: 3rem;
	background-color: #eee;
}

.contact-form-area::-webkit-scrollbar-thumb {
	border-radius: 3rem;
	background-color: #7b78f8;
}
