/* Footer top */
.footer__top-block {
	background-image: url(../../images/bg-blog.jpg);
	min-width: 100%;
	min-height: 51.9rem;
	padding: 16rem 0;
	border-bottom: 1px solid white;
}
.footer__top {
	display: flex;
	justify-content: center;
}
.footer__content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 40%;
	text-align: center;
}
.footer__title {
	font-size: 3.2rem;
	font-weight: 600;
	padding: 1rem;
}
.footer__sub-title {
	font-size: 1.5rem;
}

.footer__mail {
	margin-top: 2rem;
	select {
		font-family: var(--font);
		font-size: 1.4rem;
		font-weight: 300;
		outline: none;
		border: 0;
		margin: 0;
		padding: 0;
		border-radius: 0;
		-webkit-appearance: none;
	}

	button {
		cursor: pointer;
	}

	.subscribe-form {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
	}
	.subscribe-form-input {
		flex: 1;
		width: 100%;
		outline: none;
		padding: 15px 10px;
		border: 1px solid #eee;
		border-radius: 4px;
		transition: all 0.2s linear;
	}
	.subscribe-form-input:focus {
		border-color: #fdc826;
	}
	.subscribe-form-input:focus + .subscribe-form-button {
		background-color: #fdc826;
	}
	.subscribe-form-button {
		padding: 10px 15px;
		background-color: #999;
		color: white;
		outline: none;
		cursor: pointer;
		font-weight: 500;
		border-radius: 4px;
		flex-shrink: 0;
		transition: all 0.2s linear;
		position: absolute;
		top: 50%;
		right: 10px;
		transform: translateY(-50%);
	}
}
/* ./Footer top */
.footer__mid {
	padding: 10rem 0;
}
.footer__mid .footer__title {
	padding-left: 0;
	font-size: 2rem;
}
.footer__mid .footer__title::after {
	content: "";
	display: block;
	height: 1px;
	width: 70px;
	background: #fdc826;
	margin-top: 7px;
}
.footer__nav-list {
	margin-top: 3rem;
	padding: 0;
}
.footer__nav-item {
	margin-top: 2rem;
}
.footer__nav-link {
	font-weight: 500;
	color: #222;
}
/* ./Footer mid */
.footer__bottom {
	background-image: url(../../images/bg-footer.jpg);
	min-width: 100%;
	// min-height: 479px;
	padding: 174px 0 0 0;
}
.footer__bottom-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	text-align: center;
}
.footer__logo {
	margin: 0 auto;
}
.footer__decs {
	font-size: 1.5rem;
	margin: 3.1rem 35rem;
}
.footer__copyright {
	padding: 3.5rem 0;
	border-top: 0.5rem solid #fad667;
}
