.header {
  display: flex;
}

.logo {
  width: 22.4rem;
}

/* Nav-menu */
.nav__menu {
  display: flex;
  justify-content: flex-end;
}
.nav__list {
  display: flex;
}
.nav__item {
  display: flex;
  align-items: center;
}
.nav__link {
  font-weight: bold;
  margin: 3.4rem 2.5rem 3.4rem 1.9rem;
}
/* .nav__link:hover {
  border-bottom: 2px solid #222222;
  color: #000;
} */