.product__item {
  margin-bottom: 3rem;
  border: 1px solid #f2f2f2;
  padding-bottom: 1rem;
  margin-right: 2rem;
  &:hover {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1);
  }
  &:hover .product__cart {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
.product__img img {
  width: 100%;
}
.product__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product__name {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
  text-align: center;
}
.product__price {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.product__price--regular {
  font-size: 1.8rem;
  font-weight: 600;
  color: #e55b2a;
}
.product__price--sale {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: line-through;
  color: #6e6e6e;
  padding-left: 1rem;
}
.product__cart {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  text-align: center;
  transform: translateY(25%);
  span {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
    text-align: center;
    padding: 1rem 2rem;
    background-color: $main;
    color: black;
    &:hover {
      background-color: black;
      color: $main;
    }
  }
}
