/* Blog */
.distance__top.blog {
	padding: 0;
}
.blog {
	padding: 3rem 0 11.2rem 0;
}
.block__image img {
	max-width: 55rem;
}
.blog__icon {
	display: flex;
	justify-content: space-between;
	padding: 2.2rem 0;
}
.blog__icon span {
	margin: 0 1rem;
}
.blog__icon--info {
	display: flex;
}
.article__date {
	display: flex;
	align-items: center;
}
.article__date .icon-calendar {
	display: block;
	width: 19px;
	height: 19px;
	background: url(../../assets/images/icon-blebee.png) no-repeat;
	background-position: -46px -21px;
}
.article__author {
	display: flex;
	align-items: center;
}
.article__author .icon-account {
	display: block;
	width: 15px;
	height: 19px;
	background: url(../../assets/images/icon-blebee.png) no-repeat;
	background-position: -23px -42px;
}
.blog__title {
	margin-top: 3rem;
	font-size: 2rem;
	font-weight: 700;
}
.blog__icon--more {
	font-size: 1.2rem;
	font-weight: 600;
}
/* ./Blog */