/* Policy */
.policy__block {
	position: relative;
	padding: 13rem 0;
	z-index: 0;
}
.policy__block::before {
	content: "";
	position: absolute;
	background-image: url(../../assets/images/bg-top-policy.webp);
	background-repeat: no-repeat;
	min-width: 80rem;
	min-height: 15.9rem;
	top: -1.2rem;
	right: 0;
	z-index: 10;
}
.policy__block::after {
	content: "";
	position: absolute;
	background-image: url(../../assets/images/bg-bot-policy.webp);
	background-repeat: no-repeat;
	min-width: 39rem;
	min-height: 26.3rem;
	bottom: -13rem;
	right: 0;
	z-index: 10;
}
.policy__img {
	margin-bottom: 1.2rem;
}
.policy__info--title {
	font-size: 1.8rem;
	font-weight: 600;
	margin-bottom: 1.3rem;
}
.policy__info--decs {
	line-height: 2.4rem;
	max-width: 32rem;
	padding-top: 2.5rem;
}
.policy__number {
	margin-top: 7rem;
	font-size: 6rem;
	font-weight: 600;
	color: rgb(138, 138, 138);
}
.policy__number::after {
	content: "";
	width: 17rem;
	height: 0.1rem;
	background: #8a8a8a;
	display: block;
	margin-left: 10rem;
}
.policy__content:nth-child(2) .policy__number {
	margin: 0 0 7rem 0;
}
/* ./Policy */