.logo_antd {
	height: 32px;
	margin: 16px;
}

.ant-layout-header a{
	height: 6.8rem;
	background-color: #001529;
	font-family: "Poppins", sans-serif;
	color: white;
	font-size: 30px;
	text-align: center;
}

.ant-menu {
	font-family: "Poppins", sans-serif;
	font-size: 1.4rem;
}
